﻿
@{
    ViewBag.Title = "UpdateFirstName";
}

<div class="container mt-5">
    <div class="card shadow-lg p-4">

        <div class="card-header bg-success text-white text-center">
            <h3>Update</h3>
        </div>

        <div class="card-body text-center">
            <div class="alert alert-warning fw-bold" role="alert">
                Employee record has been Updated !
            </div>

            <a href="@Url.Action("Index")" class="btn btn-primary fw-bold">
                Back to Employee List
            </a>
        </div>
    </div>
</div>